<!-- about.html -->
<div class="jumbotron text-center">
    <div>
        <form>
            First name:<br>
            <input type="text" name="firstname" ng-model="firstname">
            <br>
            Last name:<br>
            <input type="text" name="lastname" ng-model="lastname">
            <br>
            Email:<br>
            <input type="email" name="email" ng-model="email">
            <br>

            Password:<br><input type="password" name="password" ng-model="password">
            <br>

            Confirm Password:<br>
            <input type="password" name="confirmpassword" ng-model="confirmpassword">
            <br><br>
            <input type="submit" ng-click="doSomeAction(firstname,lastname,email,password,confirmpassword)"></form>





    </div>
</div>